@model LoyaltyAddToCartVm
@{
    ViewData["Title"] = "Dodanie promocji do koszyka";
}

<div class="title">
    <h1 class="title">
        Dodaj promocję do koszyka
    </h1>
</div>

<div class="outline">
    <div class="row">
        <div class="left-column">
            <div class="table-column">
                <div class="image-wrapper">
                    <img class="image-miniature" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="table-column">
                <div class="table-row product-name">
                    @Model.Product.Name
                </div>
                <div class="table-row">
                    @Model.CategoryName
                </div>
                <div class="table-row">
                    <div class="table-column old-price">
                        @Model.Product.Price.ToString()zł
                    </div>
                    <div class="table-column new-price">
                        @Model.Loyalty.DiscountPrice.ToString()zł !
                    </div>
                </div>
            </div>
        </div>
        <div class="right-column point-price">
            @Model.Loyalty.PointPrice.ToString() Boćków
        </div>
    </div>
    <div class="row">
        <table>
            <tr>
                <th class="description-text">
                    Opis:
                </th>
            </tr>
            <tr>
                <td class="description">
                    @Model.Product.Description
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                <td>
                    <div class="button-test flex-div-anuluj">
                        <a type="button" asp-controller="Loyalty" asp-action="GoBack">
                            Anuluj
                        </a>
                    </div>
                </td>
                <td>
                    <form enctype="multipart/form-data" asp-action="AddToCarts">
                        <div class="form-group flex-div-amount">
                            Ilość:
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="Loyalty" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="Product" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="ImageUrl" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="CategoryName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="CartId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="ProductId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="LoyaltyId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input hidden asp-for="LoyaltyPointPrice" class="form-control" />
                        </div>
                        <div class="form-group button-test flex-div-next">
                            <input type="submit" value="Potwierdź" class="btn btn-primary" />
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
