@model Lista10.ViewModels.OrderDataViewModel;

@{
    ViewData["Title"] = "OrderData";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articles.Last().article.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articles.Last().article.Price)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.article.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    <dd class="col-sm-10">
                        <img src="@(item.article.Image)" asp-append-version="true" width="50" />
                    </dd>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2 class=@ViewBag.CartArticlePriceClass> Total Price: @ViewBag.CartArticlePrice </h2>

<form enctype="multipart/form-data" asp-action="AddOrder">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label"> Name: </label>
        <input asp-for="Name" value="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label"> Surname: </label>
        <input asp-for="Surname" value="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label"> Address: </label>
        <input asp-for="Address" value="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label"> PaymentMethod: </label>
        <select asp-for="Payment_method" class="form-control" asp-items="ViewBag.PaymentMethods"></select>
    </div>
    <div class="form-group">
        <input hidden asp-for="Articles" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Potwierdź zamówienie" class="btn btn-primary" />
    </div>
</form>

